<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ejemplo HTML5-CSS3</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name='description'content='Mi primera pagina web CSS3'>
        <meta name='keywords' content="HTML5, CSS3, WEB, Diseño web, umg " />
        <link href="../Content/Estilo1.css" rel="stylesheet" type="text/css"/>
        <style>
            
        </style>    
    </head>
    <body class="body">
        <header class='pageHeader'>
            <nav>
                <ul>
                    <li class='active'><a href='#'>Inicio</a></li>   
                    <li><a href='#'>Noticias</a></li>
                    <li><a href='#'>Acerca De</a></li>
                    <li><a href='#'>Contactanos</a></li>                                    

            </ul></nav>
        </header> 
        <img src="../Imagenes/icono.png">
        <div class="Main">
        <div class='content'>
            <article class='Top'>
                <header>
                    <h2><a href="#">Que es HTML5?</a></h2>
                </header>
                <footer>
                    <h5><i>Esto fue posteado el 10/07/2018 por UMG-EL PROGRESO</i></h5>
                    
                </footer>
                <content>
                    <p>Durante los ultimos años, el estandar HTML5 se ha afinado</p>
                    <p>HTML5 es un lenguaje mas semantico</p>
                </content>
            </article>
            <article class="Bottom">
               <header>
                    <h2><a href="#">Introduccion a CSS3</a></h2>
                </header>
                 <footer>
                    <h5><i>Esto fue posteado el 28/10/2022 por UMG-EL PROGRESO</i></h5>
                </footer>
                 <content>
                    <p>Sirve para el estandar para los agentes de usuario</p>
                    <p>Para que sirve el CSS3?</p>
                    <p>Sirve para darle estetica a un sitio web</p>
                </content>
            </article>
        </div>    
        </div>
        <footer class="pageFooter">
            <p>copyright &copy; 2022 - www.misitio.com</p>
        </footer>
        <div class="main">
            <aside class="top-sidebar">
                <h2>Navegacion</h2>
                <ul class='navegation'>
                    <li><a href="">Inicio</a></li> 
                     <li><a href="">Noticias</a></li>  
                     <li><a href="">Acerca De</a></li>
                     <li><a href="">Contactenos</a></li>  
                </ul>
            </aside>   
            <aside class="bottom-sidebar">
                <div class='featured'>
                    <h2>Que es y par que sirve JavaScript?</h2> 
                    <p>JavaScript (JS) es un lenguaje lijero</p>
                    <a href="">leer mas>></a> 
                </div>   
            </aside>
        </div>
    </body>
</html>